<footer class="footer">
    <div class="container bottom_border">
      <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2"> <a href="https://scriptosoft.com/"><img width="200"
                src="../../assets/logo.png" />
            </a> </h5>
          <!--headin5_amrc-->
          <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">
            <li><a routerLinkActive="active" (click)="tohome()" aria-current="page" routerLink="">Home</a></li>
            <li><a (click)="toaboutus()" routerLinkActive="active" routerLink="">About Us</a></li>
            <li><a (click)="toservices()" routerLinkActive="active" routerLink="">Services</a></li>
            <li><a (click)="toaboutus()" routerLinkActive="active" routerLink="">Clients</a></li>
            <li><a (click)="toservices()" routerLinkActive="active" tabindex="-1" routerLink="">Contact Us</a></li>
          </ul>
          <!--footer_ul_amrc ends here-->
        </div>
        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Services</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">
            <li><a href="http://webenlance.com">Cancer Care</a></li>
            <li><a href="http://webenlance.com">Cancer Care</a></li>
            <li><a href="http://webenlance.com">Cancer Care</a></li>
            <li><a href="http://webenlance.com">Cancer Care</a></li>
            <li><a href="http://webenlance.com">Cancer Care</a></li>
            <li><a href="http://webenlance.com">Cancer Care</a></li>
          </ul>
          <!--footer_ul_amrc ends here-->
        </div>
        <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Address </h5>
          <!--headin5_amrc-->
          <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s</p>
          <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
          <p><i class="fa fa-phone"></i> +91-9492123402 </p>
          <p><i class="fa fa fa-envelope"></i> info@carehelth.ind.in </p>
  
          <!--footer_ul2_amrc ends here-->
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="foote_bottom_ul_amrc">
        <li><a routerLinkActive="active" (click)="tohome()" aria-current="page" routerLink="">Home</a></li>
        <li><a (click)="toaboutus()" routerLinkActive="active" routerLink="">About Us</a></li>
        <li><a (click)="toservices()" routerLinkActive="active" routerLink="">Services</a></li>
        <li><a (click)="toclientreview()" routerLinkActive="active" routerLink="">Clients</a></li>
        <li><a (click)="toservices()" routerLinkActive="active" tabindex="-1" routerLink="">Contact Us</a></li>
      </ul>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">Copyright @2012 | Designed by <a href="https://scriptosoft.com/">www.scriptosoft.com</a></p>
      <ul class="social_footer_ul">
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
      <!--social_footer_ul ends here-->
    </div>
  </footer>
